<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <% if current_user.admin? %>
        <th>Password</th>
        <th>Role</th>
    <% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.username %></td>
    <% if current_user.admin? %>
        <td><%= user.password %></td>
        <td><%= user.role %></td>
    <% end %>
    <td><%= link_to 'Show', user %></td>
    <% if user.current_user? current_user.username %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <% end %>
    <% if current_user.admin? and !user.current_user? current_user.username  %>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

