<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>
                                                          +
<table>
  <tr>
    <% if @user.role == 'admin' %>
        <th>Name: </th>
        <th>Post Id: </th>
        <th>Votes count: </th>
        <th></th>
        <th></th>
        <th></th>
    <% end %>
  </tr>

  <% if @user.role == 'admin' %>
          <tr>
            <td><%= @user.name %></td>
            <%= get_postid_for_user(@user.id)  %>
            <%= get_votes_for_post(get_postid_for_user(@user.id)) %>
          </tr>
  <% end %>

</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

