<h1>Listing posts</h1>


  <% @posts.each do |post| %>
      <div class="post">
        <span class="left"><%= link_to post.user.username, post.user  %><br />
          <b>Created: </b><%=post.created_at %><br />
          <b>Updated: </b><%= post.updated_at %><br />
          <b>Votes: </b><%=  %>

        </span>
        <span class="right"><%= post.content %></span>
        <span class="bottom">
          <% if post.user.current_user? current_user.username or current_user.admin? %>
            <%= link_to "Edit", edit_post_path(post) %> &nbsp;
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %> <br />
          <% end %>
          <%= link_to 'Comments', post, method: :post %>
          <% if !post.user.current_user? current_user.username or current_user.admin? %>
              <% user_voted = Vote.count(:conditions => { :post_id => post.id, :user_id => current_user.id }) %>
              <% if user_voted == 0 %>
                <%= form_for Vote.new, :url => {:controller => "votes", :action => "create"} do |f| %>
                  <div class="inputs">
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <%= f.hidden_field :post_id, :value => post.id %>
                  </div>
                  <div class="actions">
                    <%= f.button 'Vote' %>
                  </div>
                <% end %>
              <% end %>
              <% vote_count = Vote.count(:conditions => { :post_id => post.id }) %>
              <br>
              <%= if vote_count == 1 and user_voted == 1
                   "You have voted"
                 elsif vote_count == 1 and user_voted == 0
                   "One other person has voted"
                 elsif vote_count == 2 and  user_voted == 1
                   "You and one other person have voted"
                 elsif vote_count > 2 and  user_voted == 1
                    "You and " + vote_count + " other people have voted"
                 else
                    vote_count + " other people have voted"
                 end
              %>
          <% end %>
        </span>
      </div>
  <% end %>


<br />

<%= link_to 'New Post', new_post_path %>
