<h1>Listing posts</h1>



  <% Post.all.each do |post| %>
    <% if not post.parent_id? %>

      <div class="post">
        <span class="left"><%= get_user(post.user_id) %><br />
          <b>Created: </b><%=post.created_at %><br />
          <b>Updated: </b><%= post.updated_at %><br />
          <b>Votes: </b><%=  post.votes.count %><br />

        </span>
        <span class="right"><%= post.content %></span>
        <span class="bottom"><%= link_to "Edit", edit_post_path(post) %> <br />
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %> <br />
          <%= link_to 'Vote', post, method: :post %>   <br />
          <%= link_to 'View Comments', post,  method: :get %>
        </span>
      </div>
    <% end %>





  <% end %>


<br />

<%= link_to 'New Post', new_post_path %>
