<p id="notice"><%= notice %></p>

<p>
  <b>Postid:</b>
  <%= link_to @vote.post_id , @vote.post %>
</p>

<p>
  <b>Userid:</b>
  <%= link_to @vote.user.username , @vote.user %>
</p>

<p>
  <b>Votedate:</b>
  <%= @vote.updated_at%>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
